.nav {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s;
}

.link:hover {
  color: #d85c76;
}

.active {
  color: #d85c76;
}
