.searchForm {
  margin-top: 20px;
}

.searchInput {
  width: 400px;
  padding: 4px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.searchInput:focus {
  border-color: #95c0f5;
  box-shadow: 0 0 3px #95c0f5;
}
